body > header {

  padding-left: 60px;

  @if $header-off {
    display: none;
  }

  @include border-top-radius(.4em);
  overflow: hidden;

  @if $header-bg-img {
    background: $header-bg-img;
  }
  @else {
    background: $header-bg;
  }

  h1, h2 {
    //text-shadow: 1px 2px 0px white;
  }

  h1 {
    display: inline-block;
    margin: 0;
    a, a:visited, a:hover {
      color: $title_color;
      text-decoration: none;
    }
  }
  h2 {
    margin: .2em 0 0;
    @extend .sans;
    font-size: 1em;
    color: $subtitle-color;
    font-weight: normal;
  }
}
